{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <hr>

    <h2 class="text-center display-5">Login</h2>

    <form class="col-4 m-auto mt-5 mb-5" method="POST" noalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="UserName" class="form-label">User Name:</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Password:</label>
                {{ form.password }}
            </div>
        <button type="submit" class="btn btn-primary col-12">login</button>
    </form>
{% endblock body %}