<nav class="navbar navbar-expand-sm navbar-dark bg-gradient text-danger">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Authors</a>
                </li>
            </ul>

            <form class="d-flex">
                <input class="form-control me-1" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

            <ul class="navbar-nav ms-auto">
                <!-- IF  not Authonthed -->
                <li class="nav-item">
                    <a class="nav-link" href="register.html">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html"> Login</a>
                </li>

                <!-- IF Authonthed -->
                <li class="nav-item">
                    <a class="nav-link" href="account_panel.html"> <i class="fa-solid fa-user"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa-solid fa-right-from-bracket"></i></a>
                </li>

            </ul>

        </div>
    </div>
</nav>