
{% extends 'base.html' %}


{% block bar %}
    {% include 'partials/navbar_public.html' %}
{% endblock bar %}
{% block body %}
    <div class="m-5">
        <div class="float-start">
            <h1 class="display-2">{{ post.title }}</h1>

            <button data-bs-toggle="collapse" data-bs-target="#demo"
                class="btn badge rounded-pill bg-primary">{{ post.author }}</button>
            <span class="badge rounded-pill bg-secondary">{{ post.created }}</span>
            <div id="demo" class="collapse"> <br>
                <div class="card p-2" style="width:10vw;height: 35vh;">
                    <img class="card-img-top" src="/static/asset/{{ post.author.avatar }}.png" alt="Card image">
                    <div class="card-body mt-1">
                        <p class="card-text text-dark">{{ post.author.bio }}</p>
                        <a href="#" class="btn btn-primary">See More Post</a>
                    </div>
                </div>
            </div> <br>

            {% if request.user == post.author or request.user.is_superuser %}
                <div class="btn-group mt-2">
                    <a href="{% url 'delete' post.id %}" type="button" class="btn btn-danger">Delete</a>
                    <a href="{% url 'update' post.id %}" type="button" class="btn btn-warning">Update</a>
                </div>
            {% endif %}
        </div>
        <img src="{{ post.thumbnail.url }}" alt="" class="img-thumbnail float-end m-0 p-1" width="500">

        <div class="clearfix"></div>

        <p class="text-light blockquote">
            {{ post.body }}
        </p>
    </div>  
{% endblock body %}